.parallax { 
    /* The image used */
    background-image: url("DSC_0127.jpg");

    /* Full height */
    height: 500px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* @media only screen and (max-device-width: 1366px) {
    .parallax {
        background-attachment: scroll;
    }
} */