#home-bg img{
    background-repeat: no-repeat;
    height: auto;
    width: auto;
    position: static;
    z-index: -1;
    /*TODO : move image x-position by screen size */
} 

/* style dropdown box of navigation bar */
.dropdown-content {
    background-color: #000000;
}

/* style the a tag of dropdown box of navigation bar */
.dropdown-content li a {
    color: #ffffff;
}

/* style the topic title section and fixed it to the screen */
.topictitle {
    position: fixed;
    background-color: #424242;
}

/* style the main content section */
.content-Container {
    background-color: #212121;
    margin-bottom: 0%;
}

.centered {
    position: absolute;
    top: 40%;
    left: 70%;
    transform: translate(-50%, -50%);
    z-index: 9999;
}

html,body{
    
    margin: 0;
    padding: 0;
}

.row {
    margin: 0%;
}

ul.slides {
    
    margin: 0px;
}
.col {
    padding: 0px;
}

.slider_wrapper {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 50%;
    padding-bottom: 50%;
}