#home-bg img{
    background-repeat: no-repeat;
    height: auto;
    width: auto;
    position: static;
    z-index: -1;
    /*TODO : move image x-position by screen size */
} 

/* style dropdown box of navigation bar */
.dropdown-content {
    background-color: #000000;
}

/* style the a tag of dropdown box of navigation bar */
.dropdown-content li a {
    color: #ffffff;
}

/* style the topic title section and fixed it to the screen */
.topictitle {
    position: fixed;
    background-color: #424242;
}

/* style the main content section */
.content-Container {
    background-color: #212121;
    margin-bottom: 0%;
}

.centered {
    position: absolute;
    top: 40%;
    left: 70%;
    transform: translate(-50%, -50%);
    z-index: 9999;
}

.text{
    display: inline;
}

/* style for topic in each page */
.topTopic{
    font-size: 35px;
    text-align: center;
    color: white;
}

/* style for sub topic in colum2 */
.topicSub{
    display: block; 
    margin-top: 50px;
    font-size: 50px;
}

/* style for content in colum2 */
.content{
    background-color: grey darken-4; 
    color: white;
}

/* style for sub content in colum2 */
.contentSub1{
    margin-top: 30px;
    font-size: 25px;
    position: relative;
}

/* style for sub content in colum2 (smaller) */
.contentSub2{
    font-size: 16px;
}

/* apply with row */
.main-display{
    margin-bottom: 0%;
}

/* style for eacg images in column2 */
.topimage{
    margin-top: 30px;
    align-items: center;
}

.slider_wrapper {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 50%;
    padding-bottom: 50%;
}

.bw {
    filter: saturate(0);
}

.rotate-270 {
    transform: rotate(-90deg);
}