
/* style dropdown box of navigation bar */
.dropdown-content {
    background-color: #000000;
}

/* style the a tag of dropdown box of navigation bar */
.dropdown-content li a {
    color: #ffffff;
}

/* style the topic title section and fixed it to the screen */
.topictitle {
    position: fixed;
    background-color: #424242;
    padding: 0%;
}

/* style for topic in each page */
.topTopic{
    font-size: 35px;
    text-align: center;
    color: white;
    float: left;
    outline-offset: 10%;
    padding-left: 40%; 
}

/* style for sub topic in colum2 */
.topicSub{
    display: block; 
    margin-top: 5%;
    margin-bottom: 5%;
    font-size: 50px;
}

/* style for sub content in colum2 */
.contentSub1{
    margin-top: 5%;
    margin-bottom: 5%;
    font-size: 25px;
    position: relative;
}

/* style for sub content in colum2 (smaller) */
.contentSub2-large{
    font-size: 21px;
    margin-top: 5%;
    margin-bottom: 5%;
}

.topicSub-large{
    display: block; 
    margin-top: 5%;
    margin-bottom: 5%;
    font-size: 60px;
}

/* style for sub content in colum2 */
.contentSub1-large{
    margin-top: 5%;
    margin-bottom: 5%;
    font-size: 30px;
    position: relative;
}

/* style for sub content in colum2 (smaller) */
.contentSub2-large{
    font-size: 21px;
    margin-top: 5%;
    margin-bottom: 5%;
}

/* apply with row */
.main-display{
    margin-bottom: 0%;
}

.bw {
    filter: saturate(0);
}

.rotate-270 {
    transform: rotate(-90deg);
}

.homebg{
    background-image: url("../img/background.jpg");
    background-size: cover cover
}

#logo{
    margin-left: 10px;
}

.main-footer{
    padding: 0px !important; 
    margin-bottom: 0% !important;
}
